---------------------------------------------Scroll Bar Styling Start-------------------------------------------

html::-webkit-scrollbar, body::-webkit-scrollbar, #section1 .list::-webkit-scrollbar{
    display: none;
}

/*---------------------------------------------Scroll Bar Styling End-------------------------------------------*/

/*----------------------------------------------Whole Element Styling Start------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: fantasy;

}

/*----------------------------------------------Whole Element Styling End------------------------------------------*/

/*----------------------------------------------Body Styling Start------------------------------------------*/


body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  cursor: none;
}

/*----------------------------------------------Body Styling End------------------------------------------*/

/*----------------------------------------------Container Styling Start------------------------------------------*/

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    width: 70vw;
    height: 15vh;
    background-color: #111111a1; 
    /* background-color: transparent; */
    top: 0;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    position: fixed;
    box-shadow: 0px 0px 90px 10px #E67F52;
    z-index: 1000;
    opacity: 1;
    animation: hide_nav 1s ease-in-out forwards;
    animation-timeline: view(); 
   animation-range: entry 0% cover 50%;
}

#nav a{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    /* background-color: transparent; */
    font-size: xx-large;
    width: 25%;
    height: 100%;
     /* border: 2px solid white; */
}

#section1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #F79B72;
    border: 2px solid white; 
    
} 

#nav a:hover{
    /* transition: 1s ease-out; */
    /* background-color: #E67F52; */
    background-color: #111;
    /* font-size: 40px; */
}

 #section1 a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
     border: 2px solid white;
} 
#section2{
       display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #F79B72;
      border: 2px solid white; 
}
#section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #F79B72;
      border: 2px solid white; 
}
#section4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    text-align: center;
    width: 100vw;
    height: 60vh;
    background-color: #F79B72;
     border: 2px solid white;
}

#footer {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  background-color: #F79B72;
  color: white;
  border: 2px solid white;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  gap: 15px; /* space between icons */
  margin-bottom: 15px;
}

.social-icons a {
  /* color: white;  */
  color: inherit;
  text-decoration: none;
}
.social-icons a:hover{
    transition: .7s ease;
    color: #111;
}

.letter {
    text-align: center;
}
.letter input, .letter button{

    font-size: 2rem;
    border: 5px solid;
    border-color: #fff;
    /* border-color: black; */
    background-color: transparent;
    box-shadow: 0px 0px 70px 10px #E67F52;
    outline: none;
    padding: 10px; 
    margin: 20px;
    color: #fff;
     border-radius: 10px;
}
.letter button:hover{
    transition: .7s ease;
    background-color: #E67F52;
     transform: scale3d(1.1, 1.1, 0.8);
    transform-style: preserve-3d;
    color: #111;
    border-color: #111;
}

#top{
position: fixed;
bottom: 2rem;
right: 2rem;
text-decoration: none;
}

.arrow-img{
    border-radius: 100%;
    /* cursor: pointer; */
}

#logo{
     border-bottom-left-radius: 10rem;
}

#contact{
    
     border-bottom-right-radius: 10rem;
}


input[type="text"]::placeholder {
    color: #fff;
}


  #section1 h1, #section2 h1, #section3 h1, #section4 h1{
    color: #fff;
  }

  #section1 .list{
    margin-top: 150px;
    /* box-shadow: 0px 0px 70px 10px #E67F52; */
    width: 45vw;
    height: 80vh;
    display: flex;
    /* border: 10px solid black; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 100px 0px;
    text-align: left;
    /* scrollbar-color: coral; */
    /* border-radius: 50px; */
  }
  #section1 .list a{
    width: 30vw;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
     border-radius: 50px;;
  }
 #section1 .list a:hover{
    transition: .5s ease;
    /* background-color: #E67F52; */
    background-color: #11111186;
    transform: scale3d(1.3, 1.3, 0.8);
    transform-style: preserve-3d;
     /* box-shadow: 0px 0px 40px 0px #000000; */
     backdrop-filter: blur(5px);
 }

  #section1 .music_player{
    margin-top: 150px;
    width: 45vw;
    height: 65vh;
 box-shadow: 0px 0px 70px 10px #E67F52;
  }
   #section1 .music_player iframe{
    width: 100%;
    height: 100%;
   }
  
#guitart_img{
  height: 60vh;
  width: 70vw;
}

.image-container {
      position: relative;
      width: 320px;
      height: 320px;
      transform: scale(0.9);
      animation: zoomFloat 1.5s ease-out forwards;
      animation-delay: 0.3s;
      opacity: 0;
      view-timeline-name: --reveal;
      view-timeline-axis: block;
      animation-timeline: --reveal;
      animation-range: entry 0% cover 50%;
    }
.text-container {
      max-width: 500px;
      transform: translateY(45px);
      opacity: 0;
      animation: textUp 2s cubic-bezier(0.22, 1.61, 0.36, 1) forwards;
      animation-delay: 0.8s;
      view-timeline-name: --reveal;
      view-timeline-axis: block;
      animation-timeline: --reveal;
      animation-range: entry 0% cover 50%;
    }
 @keyframes fadeSlideIn {
      to {
        opacity: 1;
      }
    }

    @keyframes zoomFloat {
      0% {
        transform: scale(0.8) translateY(20px);
        opacity: 0;
      }
      100% {
        transform: scale(1.3) translateY(0);
        opacity: 1;
      }
    }

    @keyframes textUp {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes hide_nav {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      50% {
        transform:  translateY(-100);
        opacity: 0;
      }
    }

    @media (max-width: 900px) and (orientation: portrait) {
  /* General mobile styles */
  #nav{
  width: 100vw;
  height: 10vh;
  }
  #nav a{
   font-size: medium;
  }
  #section1{
  justify-content: center;
  align-items: center;
  }
  #section1 .list a{
    width: 85%;
    height: 80%;
  }
  .music_player{
    width: 80vw  !important;
    height: 30vh !important; 
  }
  .list{
    justify-content: space-around !important;
    width: 90vw  !important;
    height: 30vh !important; 
    padding: 10px !important;
  }
}

@media (max-width: 650px) and (orientation: portrait) {

.letter input, .letter button{
   font-size: 1rem !important;
 
}
.letter h1{
  font-size: x-large;
}
#footer h1{
  font-size: x-large;
}
.social-icons a{
  font-size: small !important;
}

}

@media (max-width: 420px) and (orientation: portrait) {

.letter input, .letter button{
   font-size: 0.8rem !important;
 
}
.social-icons a{
  font-size: x-small !important;
}

}



/*Cursor Styling*/
.cursor {
      position: fixed;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      background: #FE5D26;
      border-radius: 50%;
      pointer-events: none;
      z-index: 1000;
      transform: translate(-50%, -50%);
    }

    .cursor-trail {
      position: fixed;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #FE5D26;
      border-radius: 50%;
      pointer-events: none;
      z-index: 999;
      transform: translate(-50%, -50%);
      transition: transform 0.1s ease-out;
    }

    .cursor-burst {
      position: fixed;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color:  #FE5D26;
      pointer-events: none;
      z-index: 998;
      transform: translate(-50%, -50%);
      animation: burst 0.6s ease-out forwards;
    }

    @keyframes burst {
      0% {
        transform: scale(1);
        opacity: 0.7;
      }
      100% {
        transform: scale(3);
        opacity: 0;
      }
    }